@page
@{
    ViewData["Title"] = "Successful Approval";
}


<h4>@ViewData["Title"]</h4>

<div class="alert alert-success" role="alert">
    The loan approval status has been updated successfully.
</div>

