@page
@{
    ViewData["Title"] = "Successful Application";
}


<h4>@ViewData["Title"]</h4>

<div class="alert alert-success" role="alert">
   Your loan application  has been submitted successfully.
    You will be contacted shortly.
</div>

